[submodule "vendor/munit"]
	path = vendor/munit
	url = git@github.com:nemequ/munit.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:ajaxian79/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:ajaxian79/imgui.git
